@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  background-size: contain;
  background-position: center;

}


h1 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: rgb(0, 255, 17);
  padding-top: 0px;
  padding-bottom: 0px;
  background-size: contain;
  background-position: center;


}

body {
  margin: 0;
  background-color: black;
  /* display:flex;
  flex-direction: column;
  justify-content: center; */

}

.grid-wrapper {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  background-size: contain;
  background-position: center;
  position: relative
}

.grid {
  height: 650px;
  width: 650px;
  position: absolute;
  background-color: #00ff11;
}

.grid div {
  display: inline-block;
}


.snake {
  background-color: black;
}

.food {
  background-color: black;
}

.game-over {
  height: 650px;
  width: 650px;
  text-align: center;
  font-size: 50px;
  background-image: url(../images/giphy.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-color: #00ff11;

}

.welcome {
  background-color: black;
  height: 650px;
  width: 650px;
  background-image: url(../images/giphy2.webp);
}

.h1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  width: 40vw;
  margin-left: 30vw;
  margin-right: 30vw;
  background-image: url(../images/Snake-title.png);
  background-repeat: no-repeat;
}

.score {
  font-family: verdana;
  color: rgb(255, 0, 200);
  font-size: 50px;

}

.score-message {
  font-family: verdana;
  color: rgb(255, 0, 200);
  font-size: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.padding {
  display: flex;
}

.start-game {
  background-color: rgb(255, 0, 200);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.play-again {
  background-color: rgb(255, 0, 200);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}